<style type="text/css">
  @import url(https://static.mailerlite.com/assets/plugins/groot/modules/includes/groot_fonts/import.css?version=1649147);
</style>
<div id="mlb2-5636626" class="max-w-lg p-10 bg-white border-2 mx-auto">
  <h1 class="text-3xl text-center mb-2">Sign Up</h1>
  <p class="text-center mb-4">Get the latest updates, news, events, and more. Learn about how to </p>
  <form class="" action="https://static.mailerlite.com/webforms/submit/e3l5g0" data-code="e3l5g0" method="post"target="_blank">
    <input aria-label="email" aria-required="true" type="email" class="px-4 py-2 border-2 border-gray-300 rounded-md w-full mb-4" data-inputmask=""  name="fields[email]"placeholder="Email" autocomplete="email">
    <input type="hidden" name="ml-submit" value="1">
      <button type="submit" class="px-4 py-2 bg-green-500 text-white rounded-md w-full">Subscribe</button>
    <input type="hidden" name="anticsrf" value="true">
  </form>
</div>
<script>
  function ml_webform_success_5636626(){var r=ml_jQuery||jQuery;r(".ml-subscribe-form-5636626 .row-success").show(),r(".ml-subscribe-form-5636626 .row-form").hide()}
</script>
<img src="https://track.mailerlite.com/webforms/o/5636626/e3l5g0?v1649277995" width="1" height="1" style="max-width:1px;max-height:1px;visibility:hidden;padding:0;margin:0;display:block" alt="." border="0">
<script src="https://static.mailerlite.com/js/w/webforms.min.js?v9b62042f798751c8de86a784eab23614" type="text/javascript"></script>