---
let {headers} = Astro.props
---

<aside class="relative hidden lg:block w-64 mr-20 shrink-0">
    <div data-sticky data-margin-top="100" data-sticky-for="768" data-sticky-wrap>
        <h4 class="text-lg font-bold leading-snug tracking-tight mb-4">Table of contents</h4>
        <ul class="font-medium -my-1">
            {headers.map(header => 
              <li class="py-1">
                  <a class="flex items-center hover:underline" href="#{header.slug}">
                      <svg class="w-4 h-4 fill-current text-gray-400 mr-3 shrink-0" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                          <path d="M7.3 8.7c-.4-.4-.4-1 0-1.4l7-7c.4-.4 1-.4 1.4 0 .4.4.4 1 0 1.4l-7 7c-.4.4-1 .4-1.4 0zM7.3 14.7c-.4-.4-.4-1 0-1.4l7-7c.4-.4 1-.4 1.4 0 .4.4.4 1 0 1.4l-7 7c-.4.4-1 .4-1.4 0zM.3 9.7c-.4-.4-.4-1 0-1.4l7-7c.4-.4 1-.4 1.4 0 .4.4.4 1 0 1.4l-7 7c-.4.4-1 .4-1.4 0z" />
                      </svg>
                      <span>{header.text}</span>
                  </a>
              </li>
            )}
        </ul>
    </div>
</aside>