---
import Header from '../../cruip-simple/components/header.astro';
import Footer from '../../cruip-simple/components/footer.astro';

let {content} = Astro.props
---
  
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{content.title}</title>
</head>

<body class="font-inter antialiased bg-white text-gray-900 tracking-tight">
    <!-- Page wrapper -->
    <div class="flex flex-col min-h-screen overflow-hidden">
        <!-- Site header -->
        <Header />
        <!-- Page content -->
        <main class="grow">
            <!-- Page sections -->
            <slot />
        </main>
        <!-- Site footer -->
        <Footer />
    </div>
</body>
</html>