---
import TutorialsList from '../cruip-simple/components/tutorials-list.astro';

let posts = await Astro.glob('./demos/*.md')
let tutorialList = {text:"demos", articles:posts}
---

<a href="/flex/">Flex</a>
<a href="/cruip-simple/">Cruip-Simple</a>

<TutorialsList {tutorialList}/>