<nav class="flex justify-between items-center py-8 px-4 xl:px-10">
  <a class="text-lg font-semibold" href="#">
    <img class="h-7" src="/shuffle/zeus/zeus-assets/logo/logo-zeus-red.svg" alt="" width="auto">
  </a>
  <div class="lg:hidden">
    <button class="navbar-burger flex items-center p-3 hover:bg-gray-50 rounded">
      <svg class="block h-4 w-4" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <title>Mobile menu</title>
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
      </svg>
    </button>
  </div>
  <ul class="hidden lg:flex lg:ml-auto lg:mr-12 lg:items-center lg:w-auto lg:space-x-12">
    <li><a class="text-sm font-medium" href="#">Why QuickMail</a></li>
    <li><a class="text-sm font-medium" href="#">Solutions</a></li>
    <li><a class="text-sm font-medium" href="#">Pricing</a></li>
    <li><a class="text-sm font-medium" href="#">Resources</a></li>
  </ul>
  <div class="hidden lg:block"><a class="inline-block py-3 px-12 text-sm leading-normal font-medium hover:bg-red-100 bg-indigo-500 text-white rounded transition duration-200" href="#">START MY TRIAL</a></div>
</nav>