
<section class="py-24 bg-gray-100">
  <div class="container px-4 mx-auto">
    <div class="max-w-xl mx-auto mb-16 text-center">
      <h2 class="text-4xl lg:text-5xl font-heading mb-6">Section Heading</h2>
      <p>This UI Kit uses attractive colors and modern typography to make you look good, no matter what business you&rsquo;re in.</p>
    </div>
    <div class="flex flex-wrap -mx-4 -mb-8">
      <div class="w-full lg:w-1/2 px-4 mb-8">
        <div class="py-12 px-6 lg:p-20 bg-white">
          <img class="mb-6" src="/shuffle/pstls/pstls-assets/icons/rounded-document-clean.svg" alt="">
          <h5 class="text-xl font-heading mb-4">Layer styles</h5>
          <p class="max-w-xs leading-8 text-gray-400">Take care to develop resources continually and integrity them with previous projects.</p>
        </div>
      </div>
      <div class="w-full lg:w-1/2 px-4 mb-8">
        <div class="py-12 px-6 lg:p-20 bg-white">
          <img class="mb-6" src="/shuffle/pstls/pstls-assets/icons/rounded-filters.svg" alt="">
          <h5 class="text-xl font-heading mb-4">Change of access</h5>
          <p class="max-w-xs leading-8 text-gray-400">Take care to develop resources continually and integrity them with previous projects.</p>
        </div>
      </div>
      <div class="w-full lg:w-1/2 px-4 mb-8">
        <div class="py-12 px-6 lg:p-20 bg-white">
          <img class="mb-6" src="/shuffle/pstls/pstls-assets/icons/rounded-users.svg" alt="">
          <h5 class="text-xl font-heading mb-4">List of regular users</h5>
          <p class="max-w-xs leading-8 text-gray-400">Take care to develop resources continually and integrity them with previous projects.</p>
        </div>
      </div>
      <div class="w-full lg:w-1/2 px-4 mb-8">
        <div class="py-12 px-6 lg:p-20 bg-white">
          <img class="mb-6" src="/shuffle/pstls/pstls-assets/icons/rounded-check-circle.svg" alt="">
          <h5 class="text-xl font-heading mb-4">No errors</h5>
          <p class="max-w-xs leading-8 text-gray-400">Take care to develop resources continually and integrity them with previous projects.</p>
        </div>
      </div>
      <div class="w-full lg:w-1/2 px-4 mb-8">
        <div class="py-12 px-6 lg:p-20 bg-white">
          <img class="mb-6" src="/shuffle/pstls/pstls-assets/icons/features-5-weekly-email.svg" alt="">
          <h5 class="text-xl font-heading mb-4">Weekly email updates</h5>
          <p class="max-w-xs leading-8 text-gray-400">Take care to develop resources continually and integrity them with previous projects.</p>
        </div>
      </div>
      <div class="w-full lg:w-1/2 px-4 mb-8">
        <div class="py-12 px-6 lg:p-20 bg-white">
          <img class="mb-6" src="/shuffle/pstls/pstls-assets/icons/features-5-message.svg" alt="">
          <h5 class="text-xl font-heading mb-4">E-mail authentication</h5>
          <p class="max-w-xs leading-8 text-gray-400">Take care to develop resources continually and integrity them with previous projects.</p>
        </div>
      </div>
    </div>
  </div>
</section>