---
import '../../../cruip-simple/styles/global.css';
import Header from '../../../cruip-simple/components/header.astro';
import Footer from '../../../cruip-simple/components/footer.astro';
import BlogList from '../../../cruip-simple/components/blog-list.astro';
import BlogListSidebar from '../../../cruip-simple/components/blog-list-sidebar.astro';

export async function getStaticPaths({ paginate }) {
  // Load your data with fetch(), Astro.fetchContent(), etc.
  const posts = Astro.glob('./*.md');
  return paginate(posts, { pageSize: 10 });
}
// If set up correctly, The page prop now has everything that
// you need to render a single page (see next section).
const { page } = Astro.props;
---

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Blog - Simple Demo</title>
</head>

<body class="font-inter antialiased bg-white text-gray-900 tracking-tight">
    <!-- Page wrapper -->
    <div class="flex flex-col min-h-screen overflow-hidden">
        <!-- Site header -->
        <Header />
        <!-- Page content -->
        <main class="grow">
            <!-- Page sections -->
            <section>
                <div class="max-w-6xl mx-auto px-4 sm:px-6">
                    <div class="pt-32 pb-12 md:pt-40 md:pb-20">

                        <!-- Page header -->
                        <div class="max-w-3xl pb-12 md:pb-20 text-center md:text-left">
                            <h1 class="h1 mb-4">Type the way you talk</h1>
                            <p class="text-xl text-gray-600">Stay up to date on the latest from Simple and best news from the Dev world.</p>
                        </div>

                        <!-- Main content -->
                        <div class="md:flex md:justify-between">
                          <BlogList posts={page.data} />
                          <BlogListSidebar />
                        </div>
                    </div>
                </div>
          </section>
        </main>

        <!-- Site footer -->
        <Footer />
    </div>

</body>
</html>